* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, serif;
  list-style: none;
}

/* COLORS */

:root {
  --main-color: #5ea4ff;
  --darkblue: #116ce4;
  --red: #aa4a6e;
  --blue: #a4b2d1;
  --white: #ffff;
  --green: rgb(65, 194, 65);
  --greenblue: rgb(29, 221, 180);
  --yellow: rgb(219, 255, 74);
}

.container-main {
  position: relative;
  height: 80vh;
}

/* NAVBAR */

.navbar-container {
  z-index: 2;
  position: relative;
  top: 5%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50px;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: end;
  padding: 0;
  margin: 0 auto;
  width: 60vw;
  height: 50px;
  backdrop-filter: blur(10px);
  border: 1px solid var(--red);
  box-shadow: 0 0 10px var(--red);
  transition: 1s;
}

.navbar-item {
  margin: 5%;
  padding: 5% 5%;
  border-radius: 10px;
  font-size: 1rem;
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
}

/* BANNER GENERAL */

.banner-item {
  display: flex;
  width: 70vw;
  height: 70vh;
  position: absolute;
  align-items: center;
  top: 20%;
  color: #ffff;
  backdrop-filter: blur(10px);
  right: 150%;
  text-align: center;
  transition: 1s;
}

/* SKILLS */

.skills {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  justify-content: space-evenly;
  border: 1px solid var(--greenblue);
  box-shadow: 0 0 10px var(--greenblue);
}

.skills-color {
  border: 1px solid var(--greenblue);
  box-shadow: 0 0 10px var(--greenblue);
}

.skills img {
  width: 5rem;
  height: 5rem;
  transition: rotate, 1s;
  transition: scale, 400ms;
}

.skills img:hover {
  transform: scale(1.1);
}

.skills-image {
  background-image: url("./fondos/skills-image.jpg");
}

/* CONTACT */

.contact-color {
  border: 1px solid var(--main-color);
  box-shadow: 0 0 10px var(--main-color);
}

.proyect-color {
  border: 1px solid var(--yellow);
  box-shadow: 0 0 10px var(--yellow);
}

.contact {
  flex-direction: column;
  border: 1px solid var(--main-color);
  box-shadow: 0 0 10px var(--main-color);
}

.contact-item {
  padding: 2%;
  display: grid;
  width: 100%;
  height: 50%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 20%;
  gap: 1em;
}

.contact-image {
  background-image: url("./fondos/contact-image.jpg");
}

.contact-item input {
  padding: 1%;
}


.message-sent {
  position: absolute;
  top: 8%;
  right: 105%;
  z-index: 1;
  width: 15rem;
  height: 4rem;
  border: 1px solid var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--green);
  backdrop-filter: blur(10px);
  transition: 300ms;
}

.container-message {
  text-align: start;
  padding: 1%;
  grid-column: 1/3;
}

.message-sent p {
  margin: 0;
}

/* PROYECT */

.visible-proyects {
  right: 5%;
}
.container-proyects {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50% 50%;
  width: 90vw;
  height: 80vh;
  justify-content: center;
  align-items: start;
  border: 1px solid var(--yellow);
  box-shadow: 0 0 10px var(--yellow);
}

.grid-item-proyect {
  margin: 5%;
  width: 20rem;
  height: 20rem;
  border: 1px solid var(--white);
  border-radius: 10px;
}

.description-proyect {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.description-proyect p {
  margin: 2%;
  text-align: start;
}

.grid-item-proyect img {
  background-color: white;
  margin: 5% 0%;
  width: 80%;
  height: auto;
}

.link-container-proyect a {
  text-decoration: none;
  color: var(--white);
  margin: 0% 10%;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--main-color);
  margin-top: 2px;
  padding: 0% 2%;
}

.proyects-image {
  background-image: url("./fondos/proyects-image.jpg");
}

/* MAIN BANNER */

.main-banner {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  margin: 10% auto;
  border: 1px solid var(--red);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px var(--red);
  transition: 800ms;
}

.home-image {
  background-image: url("./fondos/inicio-image.jpg");
}

.presentation {
  text-align: start;
  color: var(--white);
}

.main-banner img {
  margin-right: 2%;
  width: 6.5rem;
  height: 6.5rem;
}

/* BUTTON */

.button {
  background: none;
  color: var(--white);
  border: 1px solid var(--white);
  transition: 300ms;
}

.button:hover {
  box-shadow: 0 0 5px var(--main-color);
  border: 1px solid var(--main-color);
  color: var(--main-color);
}

/* GENERAL SETTINGS */

.deslizar {
  right: 80%;
}


.ocultar {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 1.2s, opacity 300ms;
}

.visible {
  right: 15%;
}

.background-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  filter: brightness(0.3);
}
